<h2>Alumnos Inscritos</h2>

<mat-form-field appearance="outline" class="w-100 mb-3">
  <mat-label>Buscar alumno</mat-label>
  <input matInput [(ngModel)]="filtro" placeholder="Buscar por nombre, apellido o email" />
</mat-form-field>

<mat-table [dataSource]="inscripcionesFiltradas()" class="mat-elevation-z4">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let i"> {{ i.alumno.id }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let i"> {{ i.alumno.nombre }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="apellido">
    <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
    <mat-cell *matCellDef="let i"> {{ i.alumno.apellido }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let i"> {{ i.alumno.email }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let i">
      <button mat-icon-button color="warn" (click)="eliminarInscripcion(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
</mat-table>

<div class="mt-4">
 <!-- <button mat-raised-button [matMenuTriggerFor]="menuAlumnos" color="primary" (click)="agregarAlumno">
    Nueva Inscripción
  </button> -->
  <button mat-raised-button color="accent" (click)="abrirDialogoSeleccion()">Nuevo alumno</button>

  
</div>


<!--<mat-menu #menuAlumnos="matMenu" class="menu-alumnos">
  <ng-container *ngIf="alumnosNoInscritos.length; else noAlumnos">
    <button mat-menu-item *ngFor="let alumno of alumnosNoInscritos" (click)="agregarAlumno(alumno)">
      {{ alumno.nombre }} {{ alumno.apellido }}
    </button>
  </ng-container>
  <ng-template #noAlumnos>
    <button mat-menu-item disabled>No hay alumnos disponibles</button>
  </ng-template>
</mat-menu>-->