<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <h2>Acceso</h2>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="loginForm.get('email')?.invalid">Email inválido</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="loginForm.get('password')?.invalid">Contraseña requerida</mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Ingresar</button>
    </form>
  </div>
  