.form-container {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.form-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
