
<p-table [value]="cursos" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'">
  <ng-template pTemplate="header">
  <tr>
    <th class="table-header">Id</th>
    <th class="table-header">Curso</th>
    <th class="table-header">Descripción</th>
    <th class="table-header">Duración</th>
    <th class="table-header">Precio</th>
    <th class="table-header">Imagen</th>
    <th class="table-header">Estado</th>
    <th class="table-header">Inicio</th>
    <th class="table-header">Fin</th>
    <th class="table-header" *ngIf="rol === 'admin'">Acciones</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-curso>
  <tr>
    <td>{{ curso.id }}</td>
    <td>{{ curso.Nombre }}</td>
    <td>{{ curso.descripcion }}</td>
    <td>{{ curso.duracion }}</td>
    <td><ng-container *ngIf="editandoCursoId === curso.id; else precioVista">
    <input type="number" [(ngModel)]="curso.precio" />
  </ng-container>
  <ng-template #precioVista>{{ curso.precio | currency }}</ng-template></td>
    <td><img [src]="curso.avatar" alt="curso" width="80" class="img-rounded" /></td>
    <td>
  <ng-container *ngIf="editandoCursoId === curso.id; else estadoVista">
    <select [(ngModel)]="curso.status">
      <option value="Abierto">Abierto</option>
      <option value="Cerrado">Cerrado</option>
    </select>
  </ng-container>
  <ng-template #estadoVista>
    <p-tag 
      [value]="curso.status"
      [severity]="curso.status === 'Abierto' ? 'success' : 'danger'">
    </p-tag>
  </ng-template>
</td>

    <td>{{ curso.inicio }}</td>
    <td>{{ curso.fin }}</td>
    <td *ngIf="rol === 'admin'"> 
  <ng-container  *ngIf="editandoCursoId === curso.id; else accionesNormales">
  <button mat-icon-button color="accent" (click)="guardarCurso(curso)">
    <mat-icon>check</mat-icon>
  </button>
  <button mat-icon-button (click)="cancelarEdicion()">
    <mat-icon>close</mat-icon>
  </button>
</ng-container>
  <ng-template #accionesNormales>
    <button mat-icon-button color="primary" (click)="editarCurso(curso)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="deleteCurso(curso.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
    </td>
  </tr>
</ng-template>

</p-table>  

